@model BichoFelizMVC.Models.AnimalModels

@{
    ViewBag.Title = "Bicho Feliz - Animais";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}
<input type="hidden" name="idcontato" id="idcontato" value="@TempData["idcontato"]">
<input type="hidden" name="idempresa" id="idempresa" value="@TempData["idempresa"]">

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset class="form-signin">
            <h3>Adicionar animal </h3>
            <hr />
            <div class="input-group">
                    Cliente
                    <div>
                        <select data-bind="options: clientes, optionsText: 'NomeContato', value: $root.cli, optionsValue: 'IdContato'" class="btn btn-default dropdown-toggle"></select>
                        <input type="hidden" data-bind="text: cli" />
                    </div>
                    <br />
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-signin", data_bind = "value: $root.Nome", placeholder = "Nome animal" })
                    &nbsp;@Html.ValidationMessageFor(m => m.Nome, null, new { @class = "text-danger" })
                </div>
            <div>
                <button type="submit" class="btn btn-primary btn-lg" data-bind="click: $root.add">Salvar</button>
                <button class="btn btn-default btn-lg" data-bind="click: $root.cancel">Cancelar</button>
            </div>
            <br />
        </fieldset>
    }
    <br />
    <br />
</div>
<div class="container">
    <h3>
        Animais cadastrados
        <button class="btn btn-lg btn-primary pull-right">OK</button>
        <input type="text" id="pesq" name="pesq" class="input-lg form-signin pull-right" placeholder="Pesquisar" data-bind="click: $root.get">
    </h3>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="text-info">Cliente</td>
                <td class="text-info">Animal</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: animais">
            <tr>
                <td data-bind="text: NomeCliente"></td>
                <td data-bind="text: Nome"></td>
                <td>
                    <button class="btn btn-success" data-bind="click: $root.edit">Alterar</button>&nbsp;
                    <button class="btn btn-danger" data-bind="click: $root.remove">Desativar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section AnimalScript {
    @Scripts.Render("~/animalViewModel")
}




