@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
  <link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
  @RenderSection("head", required: false)
  @Html.Partial("_html5shiv")
  @* favicons and touch icons go here *@
</head>
<body>
  @RenderBody()
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("Scripts", required: false)
</body>
</html>

